body {
  margin: 0;
  font-family: Arial;
  background: #eaeded;
}

/* HEADER */
header {
  background: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/* LAYOUT */
.container {
  display: flex;
}

/* SIDEBAR */
aside {
  width: 200px;
  background: white;
  padding: 10px;
}

aside button {
  display: block;
  margin: 5px 0;
  width: 100%;
  padding: 8px;
  border: none;
  background: #f0c14b;
  cursor: pointer;
}

/* PRODUCTS */
main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}

.card {
  background: white;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

button {
  background: #ff9900;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* CART */
.cart {
  background: white;
  padding: 10px;
}
